---
layout: main
---

<!-- /.row -->
  
    {% for review in site.reviews %}
<!-- /.row -->
<div class="row">
  <div class="col-md-12 mb-12">
    <div class="jumbotron">
      <div class="container">
        <div class="row">
          <div class="col-sm">
            <img src="{{ review.featured_image }}" alt="review.title" class="img-thumbnail thumbnail">
          </div>
          <div class="col-sm">
            <h2>{{ review.title }}</h2>
            <hr />
            <p>
              {{ review.description }}
            </p>
          </div>
        </div>
      </div>
     
    
    <div class="row">
      <div class="col-md-8">
         <span class="font-weight-bold">Score:</span> 
         {% for star in (1..review.score) %}
              <img src="images/star.png" alt="star" />
         {% endfor %}
      </div>
      
      <div class="col-md-4">
        <a class="btn btn-primary btn-lg" href="{{ review.url | prepend: site.baseurl }}">Read Full Review &raquo;</a>
      </div>
    </div>
    
  </div>
  </div>  
</div>
<!-- /.row -->
      {% endfor %}
