<!-- Footer -->
  <script type="application/ld+json">
    {
        "@context": "http://schema.org",
        "@type": "Organization",
        "name": "MultiAssetsBrokers",
        "url": "https://multiassetsbrokers.com",
        "logo": "https://multiassetsbrokers.com/images/logo.png",
        "brand": "MultiAssetsBrokers",
        "contactPoint": {
            "@type": "ContactPoint",
            "url": "https://multiassetsbrokers.com",
            "email": "info(at)multiassetsbrokers.com",
            "contactType": "Customer service"
        }
    }
</script>
<footer class="py-5 bg-dark">
  <div class="container">
    <p class="m-0 text-center text-white">
      Copyright &copy; multiassetsbrokers.com 2020
    </p>
  </div>
  <!-- /.container -->
</footer>