<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Review",
  "author": {
    "@type": "Person",
    "description": "Olav is the founder MultiAssets Broker. His aim is to make investing clear for everyone. Olav has 12 years of experience in the financial markets.",
    "image": "/images/olav_jensen.png",
    "name": "Olav Jensen"
  },
  "dateModified": "2019-12-09 12:45:48",
  "datePublished": "2017-04-01 00:00:00",
  "description": "{{page.description}}",
  "headline": "{{ page.title }}",
  "image": "{{page.featured_image}}",
  "itemReviewed": {
    "@type": "Product",
    "name": "{{page.reviewed_item}}",
    "review": {
      "author": {
        "@type": "Person",
        "name": "Olav Jensen"
      }
    }
  },
  "publisher": {
    "@type": "Organization",
    "brand": "MultiAssetsBrokers",
    "contactPoint": {
      "@type": "ContactPoint",
      "contactType": "Customer service",
      "email": "info(at)multiassetsbrokers.com",
      "url": "https://multiassetsbrokers.com"
    },
    "logo": {
      "@type": "ImageObject",
      "height": 60,
      "url": "http://multiassetsbrokers.com/images/logo.png",
      "width": 383
    },
    "name": "MultiAssetsBrokers",
    "url": "http://multiassetsbrokers.com"
  },
  "reviewRating": {
    "@type": "Rating",
    "bestRating": "5.0",
    "ratingValue": "{{page.score}}",
    "worstRating": "1.0"
  }
}
</script>